<div class="container">
	<br><br>
	<h2 style="display: inline-block; vertical-align: top"> Suas Turmas </h2>
	<form style="display: inline-block; vertical-align: top; margin-left: 600px" action="/turma/create-turma/<%=turmas[0].professor%>" method="get">
		<input type="submit" value="Criar nova turma" class="btn btn-primary">
	</form>
	<table style="margin-top: 10px" class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Número de alunos</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%turmas.forEach(function(turma){ %>
				<tr>
					<td>
						<a href="/turma/detalhes/<%=turma.id%>"><%=turma.nome%></a>
					</td>
					<td><%=turma.alunos.length%></td>
					<td>
						<form action="/turma/confirm-delete/<%=turma.id%>/<%=turma.professor%>" method="GET">
							<input type="submit" value="Excluir" class="btn btn-danger">
						</form>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</div>